<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>The VERY Low Energy NY Times</title>
    
</head>

<body>

    {{{ body }}}

    <!-- Scripts -->
    <script src="/assets/js/app.js"></script>
</body>

</html>